body{
    background: white;
    font-family:'Roboto Mono';
    display: flex;
    flex-direction: row
}

.chat-box.shadowed{
    display: none;
    margin-top: 100px;
}

.wrapper {
    text-align: center;
    position: relative;
}
#myBtn {
    position: fixed;
    bottom: 0;
    right:3%;
    background-color: green;
    color: white;
    width: 10%;
    height: 7%;
    font-size: 100%
}

#dash{
    /* margin: 10px; */
    /* border: 1px solid black; */
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.box{
    margin: 10px;
    width: 370px;
    height: 208px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3%
}
.box.cows{
    /* background-image:  url(../pics/bcow.png); */
    background-image: url(../pics/blue3.png)
}
.box.milk{
    /* background-image:  url(../pics/bmilk.png); */
    background-image: url(../pics/Orange.png)

}
.box.healthy{
    /* background-image:  url(../pics/bhcow.png); */
    background-image: url(../pics/Green.png)

}
.graph{
    margin: 10px;
    width: 771px;
    height: 433px;
    background-image:  url(../pics/graph.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.sick{
    margin: 10px;
    width: 374px;
    height: 433px;
    border: 1px solid red
}
.text{
color:black;
text-align: center;
font-size: 10px;
width: 29%;
height: 16%;
}

#info_cows{
    width: 83.5%;
    height: 110%;
    background-color: rgb(104, 3, 3);
    display: none;
    position: absolute;
    left: 16.7%;
}
#info_milk{
    width: 83.5%;
    height: 110%;
    background-color: rgb(104, 3, 3);
    display: none;
    position: absolute;
    left: 16.7%;
}
#info_healthy{
    width: 83.5%;
    height: 110%;
    background-color: rgb(0, 3, 3);
    display: none;
    position: absolute;
    left: 16.7%;
}

.navbar-fixed-left {
    width: 20%;
    position: fixed;
    border-radius: 0;
    height: 100%;
  }
  
  .navbar-fixed-left .navbar-nav > li {
    float: none;  /* Cancel default li float: left */
    width: 139px;
  }
  
  .navbar-fixed-left + .container {
    padding-left: 160px;
  }
  
  /* On using dropdown menu (To right shift popuped) */
  .navbar-fixed-left .navbar-nav > li > .dropdown-menu {
    margin-top: -50px;
    margin-left: 140px;
  }
.hello{
    width: 50%;
    text-align: left;
    padding-left: 13px;

}
.weather{
    width: 50%;
    font-size:20px;
    margin-top:26px;
    text-align: right;
    padding-right: 15px;
}
.navbar-brand{
    background-color: blue
}
