body{
    font-family: 'Viga', sans-serif;
    background-color: whitesmoke;
}

.navbar{
    padding-right: 0px;
    padding-left: 0px;
    background-color: #65b20c;
    color: whitesmoke;
}

.navbar-container{
    display: flex;
    justify-content: space-around;
}

.greeting{
    font-family: 'Viga', sans-serif;
    font-size: 50px;
}

.weather_icon{
    width: 50px;
    margin: 10px;
    position: absolute;
    right: 250px;
}

.temp{
    margin-top: 20px;
    position: absolute;
    right: 180px;
    font-family: 'Viga', sans-serif;
    font-size: 20px;
}

.date{
    margin-top: 40px;
    font-family: 'Viga', sans-serif;
    font-size: 20px;
}

.chat-box.shadowed{
    display: none;
    margin-top: 100px;
}

.wrapper {
    text-align: center;
    position: relative;
}
#myBtn {
    position: fixed;
    bottom: 0;
    right:10%;
    background-color: green;
    color: white;
    width: 50px;
    height: 50px;
    font-size: 100%
}

#dash{
    border: 1px solid black;
    width: 100%;
    height: 1000px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.box{
    width: 200px;
    height: 200px;
    border: 1px solid red
}