body{
    background-color: whitesmoke;
    display: flex;
    flex-direction: row
}
* {
    font-family: "Oxygen-Bold", sans-serif;
}
.greeting{
    font-family: 'Viga', sans-serif;
    font-size: 50px;
}

.weather_icon{
    width: 50px;
    margin: 10px;
    position: absolute;
    right: 250px;
}

.temp{
    margin-top: 20px;
    position: absolute;
    right: 180px;
    font-family: 'Viga', sans-serif;
    font-size: 20px;
}

.date{
    margin-top: 40px;
    font-family: 'Viga', sans-serif;
    font-size: 20px;
    background: white;
    font-family:'Roboto Mono';
    display: flex;
    flex-direction: row
}

.chat-box.shadowed{
    display: none;
    margin-top: 100px;
}

.wrapper {
    text-align: center;
    position: relative;
}
#myBtn {
    position: fixed;
    bottom: 0;
    left:100px;
    color: white;
    width: 50px;
    height: 50px;
    font-size: 100%
}

#dash{
    /* margin: 10px; */
    /* border: 1px solid black; */
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: rgb(233, 233, 233);
    padding-bottom: 50px;
}
.box{
    margin: 10px;
    width: 370px;
    height: 208px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3%;
    margin-bottom: 10px;
    margin-top: 50px;
    color:white;
    position: relative;
    
}
.box.cows{
    /* background-image:  url(../pics/bcow.png); */
    background-image: url(../pics/blue3.png)
}
.box.milk{
    /* background-image:  url(../pics/bmilk.png); */
    background-image: url(../pics/Orange.png)

}
.box.healthy{
    /* background-image:  url(../pics/bhcow.png); */
    background-image: url(../pics/Green.png)

}
.graph{
    margin: 10px;
    width: 771px;
    height: 433px;
    background-image:  url(../pics/graph.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.sick{
    margin: 10px;
    width: 374px;
    height: 433px;
    border: 1px solid red
}
.text{
font-size: 20px;
/* height: 16%; */
}

#info_cows{
    width: 83.5%;
    height: 110%;
    background-color: rgb(104, 3, 3);
    display: none;
    position: absolute;
    left: 16.7%;
}
#info_milk{
    width: 83.5%;
    height: 110%;
    background-color: rgb(104, 3, 3);
    display: none;
    position: absolute;
    left: 16.7%;
}
#info_healthy{
    width: 83.5%;
    height: 110%;
    background-color: rgb(0, 3, 3);
    display: none;
    position: absolute;
    left: 16.7%;
}
.hello{
    width: 50%;
    text-align: left;
    padding-left: 13px;
    margin-top: 50px;

}
.weather{
    width: 50%;
    font-size:20px;
    margin-top:26px;
    text-align: right;
    padding-right: 15px;
}
.sidebar{
    width: 20%;
    display: flex;
    flex-direction: column;
}
.clos {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
    margin-right: 10px;
}
.logo{
    width: 50px;
    height: 50px;
    background-image:url(../pics/logo.png);
    margin-left: 97px;
    margin-top: 16px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
li{
    margin-left: 20px;
}
hr{
    margin-left: -26px;
    width: 106%
}
.sb{
    margin-left: 40px;
    width: 150px;
    margin-bottom: 10px
}
p{
    /* margin: 15px; */
    color: black;
    font-size: 15px;
    padding-bottom: 10px
}
#mm{
    width: 20px;
    height: 20px;
    background-image: url(../pics/speedometer.png);
    margin-left: -10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#csb{
    width: 15px;
    height: 15px;
    background-image: url(../pics/c1.png);
    margin-left: -10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#msb{
    width: 15px;
    height: 15px;
    background-image: url(../pics/c2.png);
    margin-left: -10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#hsb{
    width: 15px;
    height: 15px;
    background-image: url(../pics/c3.png);
    margin-left: -10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main_menu{
    margin-left: 40px;
}

.header{
    width: 100%;
    height: 130px;
    background-color: #408BEA;
    margin: 0px;
    position: relative
}
.cayd{
    position: absolute;
    left: 52px;
    top: 74%;
    color: white;
    font-weight: bold
}
.data{
    margin-left: 5%;
    text-align: left
}
.daily{
    font-size: 10px;
    font-weight: lighter;
    font-style: italic
}
.number{
    font-size: 30px;
}
.icon{
    margin-left: 250px;
    margin-top: 30px;
    width: 80px;
    height: 80px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.icow{
    background-image: url(../pics/wcow.png);
}
.imilk{
    background-image: url(../pics/wmilk.png);
}
.ihealth{
    background-image: url(../pics/whealth.png);
}
@font-face {
    font-family: 'Oxygen-Bold';
    src: url('../fonts/Oxygen-Bold.ttf');
}